.env
.env.*
!.env.example
/.phpunit.cache
/.phpunit.result.cache
/.phpstan.cache
/docs
/coverage
/bootstrap/cache/*.php
/storage/*.key
/storage/app/private/exports/cancellations/*
!/storage/app/private/exports/cancellations/.gitkeep
/storage/app/private/imports/responses/*
!/storage/app/private/imports/responses/.gitkeep
/storage/app/private/imports/templates/*
!/storage/app/private/imports/templates/.gitkeep
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
.DS_Store
Thumbs.db
